*{
    margin: 0;padding: 0;box-sizing: border-box;
}
/* ----------------------heading---------------------- */
#heading{
    width: 95%;
    height: 18vh;
    display: flex;
    margin: auto;
    background-color: #1CA6EF;
  
}
#heading img{
    width:85%;
    height: 18vh;
}
#logout{
    height: 10vh;
    width: 10vw;
    background-color: #1CA6EF;
    margin: auto;
    border: none;
    border-radius: 10px;
}
#logout:hover{
    background-color: #0586cc;
}
#logout a{
    color: white;
    text-decoration: none;
}
/* <!-------------------- menu --------------------> */
#menu{
    width: 95%;
    margin-left: 2.47vw;
    height: 75vh;
    display: inline-flex;
}
#tr{
    width: 40%;
    height: auto;
}
#tr img{
    width: 100%;
    height: 60vh;

}

#output{
    width:60%;
    padding: 20px;
        height: auto;
    }
    #output input{
        color: black;
        width: 100%;
    }
