* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    transition: .5s ease-in-out;
}


.logo {
    float: left;
    height: 8vh;
    width: 12vw;
    display: inline-flex;
    margin: 3vh 8vw;
}

.logo h5 {
    color: white;
    font-size: 2.5rem;
}

.logo h4 {
    color: red;
    font-size: 2.5rem;
}

#icon {
    width: 10px;
    height: 10px;
    background-color: white;
    color: blue;
}


ul {
    float: right;
    display: inline-flex;
    padding: 10px;
    text-align: center;
    margin: 0 10vw;
  
}

li {
    list-style: none;
    text-align: center;
    width: 9vw;
    height: 7vh;
    margin: 1vw 0;
    font-size: 1.3rem;
    border-radius: 15px 15px;
}

li a {
    line-height: 6vh;
    text-decoration: none;
    color: white;
}

li:hover {
    background-color: rgb(238, 83, 55);
}

#togI {
    color: white;
    font-size: 30px;
    margin-right: 40px;
    line-height: 80px;
    float: right;
    cursor: pointer;
    display: none;
}
.navbar{
    height: 15vh;
    width: 100%;
    background-color: rgba(3, 3, 3, 0.486);
    position: fixed;
}


.header {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 2;
}

.header img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;

}

.header span {
    position: absolute;
    top: 60vh;
    left: 5vw;
    font-size: 3.5rem;
    color: azure;
    letter-spacing: 5px;
    animation: anim 3s ease-in;
}
@keyframes anim {
    0% {
      transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
  }

.header p {
    position: absolute;
    top: 73vh;
    left: 8vw;
    color: azure;
    font-size: 1.5rem;
    animation: anim 5s ease-in;
}
@keyframes anim {
    0% {
      transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
  }


.offers {
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    top: 100vh;
    width: 100%;
    height: 90vh;
    padding: 10vh 1vw;
    background-color: rgb(23, 24, 31);
    overflow-x:hidden ;
}

.offers img {
    width: 24vw;
    margin-top: 1vh;
    border-radius: 15px;
}

.offer1 {
    width: 30vw;
    height: 65vh;
    text-align: center;
    background-color: rgb(238, 83, 55);
    float: left;
    margin: 1vh 1vw;
    padding: 1vh 1vw;
    border-radius: 10px;


}

.offer2 {
    width: 30vw;
    height: 65vh;
    text-align: center;
    background-color: rgb(238, 83, 55);
    float: left;
    margin: 1vh 1.2vw;
    padding: 1vh 1vw;
    border-radius: 10px;


}

.offer3 {
    width: 30vw;
    height: 65vh;
    text-align: center;
    background-color: rgb(238, 83, 55);
    float: left;
    margin: 1vh 1vw;
    padding: 1vh 1vw;
    border-radius: 10px;
}

.offers p {
    font-size: 1.6rem;
    background-color: black;
    color: white;
    width: 27vw;
    height: 8vh;
    border-radius: 25px 5px;
}

.offers h6 {
    font-size: 1rem;
}



.services {
    width: 100%;
    height: 180vh;
    position: absolute;
    top: 190vh;
    background-color: rgb(23, 24, 31);
    color: white;
    padding: 5vh 0;
    overflow-x:hidden ;
}

.service h3 {
    margin-top: 2vh;
    font-size: 2rem;
    text-align: center;
}

.service p {
    margin-top: 2vh;
    font-size: 1.4rem;
    margin-bottom: 2vh;
    text-align: center;
}

.service1 {
    width: 40vw;
    height: 40vh;
    background-color: rgb(23, 24, 31);
    color: azure;
    float: left;
    margin: 4vh 4vw;
    padding: 5vh;
}

.service1 img {
    width: 40px;
    border-radius: 50%;
    margin: 0vw 5vh;
}

.service1 h2 {
    display: inline-block;
    font-size: 2rem;
    position: absolute;
}

.service1 p {
    margin-left: 8vw;
    text-align: left;
}

footer {
    background-color: rgb(238, 83, 55);
    color: white;
    position: absolute;
    top: 370vh;
    width: 100%;
    height: 32vh;
}

footer ul {
    display: inline-flex;
    text-decoration: none;

}


footer .contact {
    background-color: rgb(23, 24, 31);
    list-style: none;
    float: left;
    width: 20vw;
    height: 20vh;
    margin: 5vh 2.1vw;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    border-radius: 10px 10px;
}













/* <!------------ media query start ------------> */
@media screen and (min-width:320px) and (max-width : 480px) {
    .navbar{
        position: absolute;
        background: none;
    }
    .navbar ul {
        position: fixed;
        width: 100%;
        height: 60vh;
        background-color: rgb(23, 24, 31);
        top: 80px;
        left: -120%;
        transition: all .5s;
        text-align: center;
        display: block;
        z-index: 3;
    }

    #togI {
        display: block;
        float: right;
        margin-left: 90vw;
        position: fixed;
    }

    ul.show {
        left: -10%;
    }

    .navbar ul li {
        display: block;
        width: 80%;
        height: 8vh;
        margin: 5vh 10vw;
        line-height: 8vh;
    }
    li:hover {
    background-color: rgb(238, 83, 55);
    }

    .navbar {
        width: 100%;
    }

    #icon {
        width: 10%;
        height: 20%;
    }


    .logo h5 {
        font-size: 2rem;
    }

    .logo h4 {
        font-size: 2rem;
    }

    .header span {
        font-size: 2.5rem;
        letter-spacing: 5px;
    }

    .header p {
        font-size: 1.5rem;
    }

    .offers {
        display: inline-block;
        top: 100vh;
        width: 100%;
        height: 290vh;
        padding: 10vh 1vw;
    }

    .offers img {
        width: 80%;
        padding: 2vh 0;
    }

    .offer1 {
        width: 95%;
        height: 80vh;
        margin: 5vh 3vw;
    }

    .offer2 {
        width: 95%;
        height: 80vh;
        margin: 5vh 3vw;
    }

    .offer3 {
        width: 95%;
        height: 80vh;
        margin: 5vh 3vw;
    }

    .offers p {
        width: 80%;
        height: 8vh;
        margin: auto;
    }

    .offers h6 {
        font-size: 1.5rem;
    }

    .services {
        width: 100%;
        height: 310vh;
        top: 390vh;
        padding: 5vh 5vw;
    }

    .service h3 {
        font-size: 1.5rem;
    }

    .service p {
        font-size: 1.2rem;
    }

    .service1 {
        width: 90%;
        height: 40vh;
        margin: 2vh 5vw;
        padding: 4vh 0 ;
    }

    footer {
        top: 700vh;
        width: 100%;
        height: 62vh;
    }

    footer .contact {
        width: 45%;
        height: 25vh;

        margin: 3vh 2.1vw;
        font-size: 1rem;
    }

}




/* <!------------ media query-2 start ------------> */
@media screen and (min-width:481px) and (max-width : 990px) {
    .navbar{
        position: absolute;
        background: none;
    }
    .navbar ul {
        position: fixed;
        width: 100%;
        height: 60vh;
        background-color: rgb(23, 24, 31);
        top: 80px;
        left: -110%;
        transition: all .5s;
        text-align: center;
        display: block;
        z-index: 3;
    }

    #togI {
        display: block;
        margin-left: 90vw;
        position: fixed;
    }

    ul.show {
        left: -10%;
    }

    .navbar ul li {
        display: block;
        width: 80%;
        height: 8vh;
        margin: 5vh 10vw;
        line-height: 8vh;
    }

    .navbar {
        width: 100%;
    }

    .logo h5 {
        font-size: 2rem;
    }

    .logo h4 {
        font-size: 2rem;
    }

    .header span {
        font-size: 2.5rem;
        letter-spacing: 5px;
    }

    .header p {
        font-size: 1.5rem;
    }

    .offers {
        display: inline-block;
        width: 100%;
        height: 350vh;
    }

    .offers img {
        width: 80%;
        padding: 2vh 0;
    }

    .offer1 {
        width: 95%;
        height: 100vh;
        margin: 5vh 3vw;
        padding: 5vh 10vw;
    }

    .offer2 {
        width: 95%;
        height: 100vh;
        margin: 5vh 3vw;
        padding: 5vh 10vw;

    }

    .offer3 {
        width: 95%;
        height: 100vh;
        margin: 5vh 3vw;
        padding: 5vh 10vw;

    }

    .offers p {
        width: 85%;
        height: 12vh;
        margin: auto;
        line-height: 10vh;
    font-size: 3rem;
    }
   
    .offers h6 {
        font-size: 2rem;
    }

    .services {
        width: 100%;
        height: 280vh;
        top: 450vh;
        padding: 5vh 5vw;
    }

    .service h3 {
        font-size: 2rem;
    }

    .service p {
        font-size: 1.6rem;
    }

    .service1 {
        width: 90%;
        height: 35vh;
        margin: 2vh 5vw;
        padding: 5vh;
    }

    footer {
        top: 730vh;
        width: 100%;
        height: 62vh;
    }

    footer .contact {
        width: 45%;
        height: 25vh;
        margin: 3vh 2.1vw;
        font-size: 1rem;
    }

}